*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;font-family: inherit}
html,body{height: 100%;}
body{background: #335b77;color: #494949;font-family: Arial,"Microsoft YaHei"}
:focus{outline: none;}
#root{height:100%;width:100%;position: relative;border:50px solid transparent;}

.talk-bar{background: #25292e;color: #afafaf;width: 150px;position: absolute;top: 0;left: 0;height: 100%;}
.talk-bar li{padding:10px;cursor: pointer;}
.talk-bar li:hover{background: #434d58;}
.talk-bar li.select{background: #fff;}

.talk-main{width: calc(100% - 150px);background: #f1f1f1;height: 100%;position: absolute;top: 0;right: 0;}

.talk-top{background: #ffffff;height: 70px;display: flex;align-items: center;justify-content: space-between;}
.talk-top .title{padding: 0 20px;}
.talk-top .user{margin-right: 20px;}
.talk-top .edit{cursor: pointer;border:none;background: none;cursor: pointer;color: mediumslateblue;margin-left: 10px;}

.talk-message{background: #f7f7f7;height: calc(100% - 140px);overflow: hidden;overflow-y: auto}
.talk-message .talk-scroll-box{position: relative;padding:20px;}
.talk-message li{margin-bottom: 20px;}
.talk-message .infor{display: flex;margin-bottom: 10px;}
.talk-message .message-text{background: #fff;padding:10px;}
.talk-message .me .infor{flex-direction: row-reverse;}
.talk-message .me .message-text{background: #e7f1f6;margin:0 10px 0 0;text-align: right}
.talk-message .avatar{border-radius: 50%;min-width: 35px;min-height: 35px;max-width: 35px;max-height: 35px;background-color: #7fa8b2;position: relative;top: 5px;}
.talk-message .time{text-align: center;color: #bfbfbf;font-size: 12px;margin:0 10px;}
.talk-message .top{display: flex;align-items: center;margin-bottom: 10px;}
.talk-message .me .top{flex-direction: row-reverse;}
.talk-message .name{color:#929292}

.talk-input{background: #f1f1f1;height: 70px;display: flex;align-items: center;border-top: 1px solid #dcdcdc;display: flex;align-items: center;}
.talk-input .input-box{border: 1px solid #dcdcdc;height: 30px;display: flex;align-items: center;width: 100%;margin-left: 10px;background: #ffffff;}
.talk-input .input{border: none;background: none;height: 30px;display: flex;align-items: center;width: 100%;margin-left: 10px;}
.talk-input .send{border: none;background: none;background: #0aa8e3;border: none;height: 30px;display: flex;align-items: center;border-radius: 2px;cursor: pointer;color: #fff;padding:0 10px;white-space: nowrap;margin-right: 10px;}
.talk-input .send:hover{background: #005777;}
.talk-input .smile{border:none;background: none;margin-right: 10px;cursor: pointer;}
.talk-input .talk-smile{position: absolute;bottom: 70px;left: 0;width: 100%;background: #fff;height: 100px;border:1px solid #7fa8b2;overflow: hidden;overflow-y: auto;}
.talk-input .talk-smile ul{padding:10px 10px 0}
.talk-input .talk-smile li{width: 35px;height: 35px;cursor: pointer;display: inline-flex;align-items: center;justify-content: center;}
.talk-input .talk-smile li:hover{background: #eee;}


@media screen and (max-width: 750px) {
  #root{border:none;}
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}


/*滑块*/
::-webkit-scrollbar-thumb {
  background-color: #afafaf;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}


/*滑道*/
::-webkit-scrollbar-track {
}
